body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 30px;
    height: 100vh;
    background-color: rgb(133, 132, 132);
}

.input-field {
    display: flex;
    gap: 20px;
}

label {
    margin-right: 5px;
}

.box {
    border: 1px solid black;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.black-cell, .white-cell {
    width: 10px;
    height: 10px;
}

.black-ball, .white-ball {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.white-ball, .white-cell {
    background-color: white; 
}

.black-ball, .black-cell {
    background-color: black;
}